a {
  color: var(--color-blue);
  text-decoration: underline;
}

.form {
  background-color: var(--color-lightgray);
  border-radius: 16px;
  padding: 24px;
}

.form-field {
  margin-bottom: 40px;
  border-radius: 8px;
}

.form-field-legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}


.form-field-gridBox {
  display: inline-grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  width: 100%;
}

.form-field-gridBox.form-field-gridBox__gapSmall {
  row-gap: 8px;
}

.form-inputText {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px;
}

.form-checkbox,
.form-radio {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px; 
  cursor: pointer;
}

.form-label-text {
  display: flex;
  margin-bottom: 4px;
  font-size: 14px;
}

.form-badge {
  color: var(--color-red);
}
.form-buttonWrapper {
  display: flex;
  justify-content: center;
}